<!--
==============================================
; Title: Assignment 2.4 Routing-in-Action
; Author: Chad ONeal
; Date: 01/11/2023
; Description: about.component.html
==============================================
-->

<!-- container for composer name-->
<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Pierre Boulez</h3>
    </div>
  </div>

  <hr />
<!--composer pic and bio section-->
  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/boulez.webp" style="width: 85%"/>
    </div>
    <div class="col-sm-9">
      <p>
        French composer and conductor Pierre Boulez is often considered a central figure of 20th-century classical music and one of the
        most influential figures of his period. Boulez's compositions have a strong influence on subsequent generations of musicians,
        as well as popular music, theatre, and ballet. He has long been regarded by musicians as an innovator and personality whose
        reputation is “worldwide”. <em class="apa-reference"><a href="https://www.classical-music.com/composers/pierre-boulez/" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>
