/*
============================================
, Title: app.component.css for composer-app
; Author: Chad ONeal
; Date: 01/11/2023
; Description: css styling for composer-app
===========================================
*/

.navbar {
  color: aqua;
}
