<!--
==============================================
; Title: Assignment 5.2 Navigation and Layout
; Author: Chad ONeal
; Date: 02/02/2023
; Description: contact.component.html
==============================================
-->

<!--card section to hold address section-->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Hill Rd</p>
      <p>Koxville, TN</p>
    </mat-card-content>
  </div>

  <!--card section to hold phone number info-->
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 865-227-0351</p>
      <p>Toll-free: 1-800-591-0467</p>
      <p>Fax: 865-867-5309</p>
    </mat-card-content>
  </div>
</div>

<br><br><br><br>

<!--section to hold message at bottom of card-->
<div fxLayout="column">
    <p style="text-align: center">
        Visit us online or at one of our many great locations throughout the Great State of Tennessee!
    </p>
</div>
