<!--
==============================================
; Title: Assignment 5.2 Navigation and Layout
; Author: Chad ONeal
; Date: 02/02/2023
; Description: about.component.html
==============================================
-->

<!--section to hold photo of favorite author-->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/ThomasHarris_RobinHill_Header.jpg" style="height: 250px;"/>
      </div>
      <div>
        <em>Photo by Robin Hill in<a class="attribution-link"
        href="https://www.pastemagazine.com/books/thomas-harris/new-novel-from-silence-of-the-lambs-author/" target="_blank">
        Paste Magazine</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who is Thomas Harris?</h1>
    <p>
      The writer of the popular book The Silence of the Lambs, Thomas Harris was born in April of 1940 in Jackson, TN. Growing up as an introvert
       in Mississippi after his family moved there, Thomas spent most of his time reading. Being inspired by Hemingway’s work and attending the same
        school that his mother taught at, he began to come up out of his reclusive phase. Thomas attended Baylor University after high school and chose
         English as his major. Having once served as a police beat reporter for the Waco Tribune-Herald and finding the work to be less than appealing;
          Thomas began to pen his own work, which has given us one the best books and anti-heroes (Hannibal Lector) in American History.
    </p>
    <em>Biography by: <a href="https://www.famousauthors.org/thomas-harris" target="_blank" class="attribution-link">FamousAuthors.org</a></em>
  </div>
</div>

